body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    float:left;
    padding: 25px;
}

/* div {
    background-color: beige;
} */

#aboutme {
    background-color: beige;
    border: 2px solid black;
    padding: 5px;
}