body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

img {
    float:left;
    padding: 25px;
}

#aboutme {
    background-color: beige;
    border: 2px solid black;
    padding: 5px;
}